<label>Nome:</label><input type="text" [(ngModel)]="task.name"><br>
<label>Valor:</label><input type="number" [(ngModel)]="task.value"><br>
<label>Data:</label><input type="text" [(ngModel)]="task.date">
<p>{{ task.name }}</p>
<button (click)="add()" >Inserir tarefa!</button>