<div class="alert alert-danger" role="alert" *ngIf="!cep.valid && (cep.dirty || cep.touched)">
  <strong>Erro!</strong> Cep inválido.
</div>

<div class="form-group">
  <label for="cep">CEP</label>
  <input type="text" id="cep" class="form-control" placeholder="0000-000" [(ngModel)]="cepObj.cep" maxlength="9" #cep="ngModel" required>
</div>

<div class="form-group">
  <button class="btn btn-primary" (click)="buscar()" [disabled]="btnCarregando">Buscar</button>
</div>

<fieldset [disabled]="true">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="logradouro">Logradouro</label>
      <input type="text" id="logradouro" class="form-control" [ngModel]="cepObj.logradouro">
    </div>

    <div class="form-group col-md-6">
      <label for="numero">Número</label>
      <input type="text" id="numero" class="form-control" [ngModel]="cepObj.numero">
    </div>

    <div class="form-group col-md-6">
      <label  for="complemento">Complemento</label>
      <input type="text" id="complemento" class="form-control" [ngModel]="cepObj.complemento">
    </div>

    <div class="form-group col-md-6">
      <label for="cidade">Cidade</label>
      <input type="text" id="cidade" class="form-control" [ngModel]="cepObj.cidade">
    </div>

    <div class="form-group col-md-6">
      <label for="bairro">Bairro</label>
      <input type="text" id="bairro" class="form-control" [ngModel]="cepObj.bairro">
    </div>

    <div class="form-group col-md-6">
      <label for="estado">Estado</label>
      <input type="text" id="estado" class="form-control" [ngModel]="cepObj.uf">
    </div>
  </div>
</fieldset>