<div class="container">
    <p>{{ title }}</p>
    <!--<task-new></task-new>-->
    <!--<task-list></task-list>-->
    <!--<cep></cep>-->

    <button routerLink="list">Ver Tarefa</button>
    <button routerLink="new">Incluir Tarefa</button>
    <button routerLink="cep">Consultar CEP</button>
    <br>
    <router-outlet></router-outlet>

</div>