<ul>
  <li *ngFor="let item of tasks" id="{{ item.name }}" [style.color]="item.value > 5 ? 'green' : 'red'" >
    {{ item.name | uppercase }} - {{ item.value | formatCurrency }} - {{ item.date | formatDate:'en-US' }}
  </li>
  <!--    <li *ngFor="let item of tasks" [ngClass]="{'item-verde':item.value>5, 'item-vermelho':item.value<5}">
          {{ item.name }} - {{ item.value }}
      </li>-->
</ul>
